@model IEnumerable<Group.Models.Mapper>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currentBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.publicOrPrivate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currentBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notifications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publicOrPrivate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MapperID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MapperID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MapperID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
